
body {
   /* background-image: url(/images/body-background-2.jpg);*/
    background-color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    color: slategray;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

/* navigation/header */

.molly-in-codeland-logo {
    height: 100px;
    padding-left: 10px;
    margin-bottom: 10px;
    float: left;
    display: flex;
}

.navbar {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;

}

.navbar-links li {
    list-style: none;

}

.navbar-links li a {
    text-decoration: none;
    color: slategray;
    padding: 2rem;
    display: block;
}

.navbar-links li:hover {
    border-style: dotted;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: slategray;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }    
    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 5px 8px;
    }

    .navbar-links.active {
        display: flex;
    }

    .molly-in-codeland-logo {
        height: 4rem;
        padding-left: 10px;
        margin-bottom: 10px;
        float: left;
        display: flex;
    }
}



/*Welcome Message*/
#welcome {
    background-image: url(../images/background-img-4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    height: 500px;
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color:	 #4e5965;

    width: 100%;
    
    align-items: center;
    justify-content: center;
    
    vertical-align: middle;
}

h1.welcome-message {
    font-family: Borel, 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 5px 5px #80a59ccb;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: 100%;
    margin: auto;
    
    flex-wrap: wrap;
    background-size: cover;
}
    

@media (max-width: 600px) {
    #welcome {
        height: 200px;
        width: 100%
    }
    
    h1.welcome-message {
        font-size: 2rem;
    }
}





/*About Me Section*/
.about-me-title {
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 0;  
  
}

.about-div {
    display: flex;
}

.about-div-left {
    flex: 1;
    margin: 5px;
    padding: 10px;
    
}

.about-div-center {
    flex: 1;
    margin: 5px;
    padding: 10px;    
}

.about-div-left {
    flex: 1;
    margin: 5px;
    padding: 10px;   
}

.molly-photo {
    border: solid;
    border-color: #708090;
    height: 400px;
    width: 330px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 15px;
    padding: 0;
}


.about-div p {
    font-family: Dosis, sans-serif;
    font-size: 18px;
}

.about-div-center {
    padding-top: 45px;
}

.fun-fact-list {
    text-decoration: none;
    list-style: none;
    text-align:start;
}

.fun-fact-list li {
    font-weight: 100;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}

.icon {
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

.fun-facts-message {
    font-weight: 100;
}

@media (max-width: 600px) {
    .about-me-title {
        font-size: 30px;
    }
    .molly-photo {
        height: 200px;
        width: 150px;
        display: block;
    }
    .about-div p {
        font-size: 10px;
    }
    .about-me-message {
        font-size: 18px;
    }
}





/*Projects Section*/
.projects-title {
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 50px;
}
.projects-list {
    list-style: none;
    font-family: dosis;
    text-align:start;
    text-decoration: none;
}

.projects-list li {
    
    padding: 20px 11px; /* Adjust the padding */
    text-align: start;
    display: flex; /* Add flexbox display */
    align-items: center; /* Vertically center items */
}

.projects-list li a {
    text-decoration: none;
    margin-left: 50px;
    color: slategray
}


.projects-photo {
    height: 400px;

}

.projects-description {
    font-weight: 100;
}

.projects p {
    font-family: Dosis, sans-serif;
}

.website-1-photo {
    height: 100px;
    width: 100px;
}
.projects-list li a:hover {
    border: solid;
    padding: 10px 10px;
}





/*Contact Information Section*/
.contact-title {
    font-weight: 100;
    font-size: 50px;
    padding-bottom: 0;
    margin-bottom: 50px;
}

.email-icon {
    height: 50px;
    width: 50px;
    padding-right: 10px;

}

.contact p {
    display: flex;
    margin-left: 300px;
}

.email-address {
    display: flex;
    align-items: center;
}

.linkedin {
    display: flex;
    align-items: center;
}

.instagram {
    display: flex;
    align-items: center;
    
}


.copyright-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

